/nbproject/
/nbproject/private/
/nbproject/project.properties
/nbproject/project.xml
/vendor
storage/
/storage/framework/views/
/storage/framework/sessions/
/storage/framework/cache/
composer.lock
.env
public/uploads/
